@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.event-lineup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw; /* Full width */
  margin-top: 100px; /* Adjust spacing */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.event-text {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800; /* Extra bold */
  color: #DF2DEF;
  text-transform: uppercase;
}

.date-text {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #FFFFFF;
}

/* Event Box - Main Rectangle */
.event-box {
  width: 1170px;
  height: 70px;
  border-radius: 70px;
  background-color: #1B1818;
  border: 5px solid #DF2DEF;
  margin: 30px auto; /* Centers the box horizontally */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute content evenly */
  padding: 20px 40px;
  position: relative;
}

/* Event Icon (Left Side) */
.event-icon {
  width: 70px;
  height: 70px;
  background-color: #232323;
  border-radius: 90px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Event Name (Center) */
.event-name {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  flex-grow: 1;  /* Allow it to take available space */
  text-align: left;
  margin-left: 20px;
}

/* Event Time (Middle Right) */
.event-time {
  display: flex;
  align-items: center;
  position: absolute;
  right: 260px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
}

.event-time-icon {
  width: 50px;
  height: 50px;
  background-image: url("../images/timer.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 10px;
}

.morning-text {
  font-size: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}

/* View More Button (Right Side) */
.view-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DF2DEF;
  color: #1B1818;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.view-more-icon {
  width: 30px;
  height: 30px;
  background-image: url("../images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 3px;
}
