@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.event-lineup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw; /* Full width */
  margin-top: 100px; /* Adjust spacing */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.event-text {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800; /* Extra bold */
  color: #DF2DEF;
  text-transform: uppercase;
}

.date-text {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #FFFFFF;
}