@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #DF2DEF #09031A;
      
}

.Contact{
    width:100%;
    background-color: #09031A;
}
.Contact-info{
    max-width: 80%;
    /* height:400px; */
    /* border:1px solid #c0c0c0; */
    margin: auto;
    padding-top: 10px;
}
.Contact-Title h2{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#fff;
    font-size: 2rem;
    padding-bottom: 10px;
}
.Contact-Title h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#DF2DEF;
    font-size: 4rem;
}
.Contact-ways{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,300px),1fr));
    margin-top: 80px;
    margin-left: 20px;
    /* border:1px solid red; */
}
.Contact-Email,.Contact-Address,.Contact-Helpline{
    width:300px;
    height:200px;
    /* border:1px solid red; */
    text-align: center;
}
.Contact-icon{
    color:#DF2DEF;
    font-size: 2.6rem;
}
.Contact-Name{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:1.4rem;
    color:#ffffff;
    margin-top: -10px;
}
.Contact-Description{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#ffffff;
    font-size: 14px;
    margin-top: 10px;
}
.Contact-Description p{
    line-height: 22px;
}
.Gmail-Info{
    color:#DF2DEF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px){
    .Contact-ways{
        margin-top: 50px;
        padding-left: 70px;
    }
}
@media only screen and (max-width: 480px){
    .Contact-Title h2{
        font-size: 1rem;
        padding-bottom: 10px;
        text-align: center;
    }
    .Contact-Title h1{
        font-size: 2rem;
        text-align: center;
    }
    .Contact-ways{
        margin-top: 50px;
        margin-left: 5px;
    }
}