@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Reem+Kufi+Fun:wght@400..700&display=swap');
.Footer-info{
    max-width: 80%;
    /* height:200px; */
    border:1px solid #c0c0c0;
    border-left: none;
    border-right: none;
    margin: auto;
}
.Footer-Grid{
    display: grid;
    grid-template-columns: 2fr 2fr ;
    margin: 30px 0 20px 0;
}
.Event-Logo{
    /* border:1px solid red; */
    display: flex;
}
.Event-Logo img{
    width:150px;
    object-fit: cover;
    /* mix-blend-mode:multiply; */
    margin-top: -15px;
}
.Events-Title h1{
    color:#DF2DEF;
    font-size: 1.5rem;
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
}
.Events-Title p{
    font-size: 2rem;
    color:#ffffff;
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}
.Events-Title span{
    font-size: 2rem;
    color: #DF2DEF;
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}
.Events-Link{
    display: flex;
    justify-content: space-around;
}
.Events-grid p{
    color:#DF2DEF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Events-grid ul{
    list-style-type: none;
    margin-top: 10px;
}
.Events-grid a{
    text-decoration: none;
    line-height: 25px;
    color:#ffffff;
}
.Events-grid a:hover{
    color:#DF2DEF;
}
.Events-CO-ORDINATORS ul{
    list-style-type: none;
    margin-top: 10px;
}
.name{
    color:#DF2DEF;
}
.Co-ordinators-Number,.Co-ordinators-Name{
    text-align: center;
    color:#ffffff
}
.DevelpedBy{
    max-width: 80%;
    margin: auto;
    padding: 20px;
}
.DevelpedBy p{
    text-align: center;
    color:#DF2DEF;
    margin-top: 10px;
}

@media screen and (min-device-width: 481px) and (max-device-width: 640px) { 
    .Footer-Grid{
        display: grid;
        grid-template-columns: 1fr;
    } 
    .Events-Link{
        display: flex;
        flex-direction: column;
        /* border:1px solid red; */
        text-align: center;
    }

    .Events-grid{
        margin-top: 15px;
    }
    .Events-CO-ORDINATORS{
        margin: 15px 0 15px 0;
    }

}



@media only screen and (max-width: 480px){
    .Footer-Grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .Event-Logo{
        /* border:1px solid red; */
        display: flex;
    }
    .Event-Logo img{
        width:130px;
        height:auto;
        margin-top: -15px;
    }
    .Events-Title h1{
        font-size: 1.2rem;
    }
    .Events-Title p{
        font-size: 1.5rem;
        color:#ffffff;
    }
    .Events-Title span{
        font-size: 1.5rem;
    }
    .Events-Link{
        display: flex;
        flex-direction: column;
        /* border:1px solid red; */
        text-align: center;
    }
    .Events-grid{
        margin-top: 15px;
    }
    .Events-CO-ORDINATORS{
        margin: 15px 0 15px 0;
    }

}
