/* Navbar.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a0215;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  border-radius: 50px;
  max-width: 45%;
  margin: auto;
  position: relative;
  top: 20px;
}

.navbar a {
  color: #e600ff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
}

.menu-nav {
  display: flex;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: #e600ff;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #222;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  transition: left 0.3s ease-in-out;
}

.mobile-nav.open {
  left: 0;
}

.mobile-nav a {
  padding: 15px;
  text-align: center;
  color: #e600ff;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #e600ff;
}

@media (max-width: 768px) {
  .menu-nav {
    display: none;
  }

  .navbar {
    max-width: 10%;
    padding: 10px 10px;
    margin-right: 10px;
  }

  .hamburger {
    display: block;
  }
}